*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
!acmart.pdf
!Koch-eps-converted-to.pdf
!Pseudofractal-eps-converted-to.pdf
!Cayley.pdf
!spsk.pdf
!spsklk.pdf
!compare_effects_exact1.pdf
!compare_effects_exact2.pdf
!compare_effects_optimum.pdf
MANC.pdf
tmp.*